button{
    max-width: 100%;
    border: none;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

.black{
    background: black;
    color: white; 
    &:hover{
        background: white;
        color: black;
    }
}

.white{
    background: white;
    color: black;
    &:hover{
        background: black;
        color: white; 
    }
}